In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet

In [8]:
#read in the csv file
all_tables = pd.read_html("https://en.wikipedia.org/wiki/2022%E2%80%9323_UEFA_Champions_League")

#Function to set all the values in the table to zero
def set_to_zero(row):
    row['Pld'] = 0
    row['W'] = 0
    row['D'] = 0
    row['L'] = 0
    row['GF'] = 0
    row['GA'] = 0
    row['GD'] = 0
    row['Pts'] = 0
    return row

#gets a table of each groupstage match
dict_table = {}
for letter, i in zip(alphabet, range(17, 25, 1)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df = df.iloc[:, 0:10]
    df = df.apply(set_to_zero, axis=1)
    dict_table[f'Group {letter}'] = df

In [10]:
dict_table['Group H']

   Pos                 Team  Pld  W  D  L  GF  GA  GD  Pts
0    1              Benfica    0  0  0  0   0   0   0    0
1    2  Paris Saint-Germain    0  0  0  0   0   0   0    0
2    3             Juventus    0  0  0  0   0   0   0    0
3    4        Maccabi Haifa    0  0  0  0   0   0   0    0